{% extends "/layout.html.twig" %}

{% block title %}
    {{ parent() }} | FAQ
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">

            <h1>Page inexistante !</h1>

            <p>Ce lien est introuvable. Veuillez vérifier l'URL !</p>

            <a href="{{ path('home') }}">Retourner à l'Accueil du site Entre Dièses et Bémols</a>.

        </div>
    </div>
{% endblock content %}
