{% extends "/layout.html.twig" %}

{% block title %}
    {{ parent() }} | 404
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">

            <h1 class="text-center">Page inexistante !</h1>

            <h2 class="my-5 text-center">Ce lien est introuvable. Veuillez vérifier l'URL !</h2>

            <div class="text-center">
                <a href="{{ path('home') }}">
                    <button class="btn btn-primary mb-5 h_50">Retourner à l'Accueil du site Entre Dièses et Bémols</button>
                </a>
            </div>


        </div>
    </div>
{% endblock content %}
