<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
        {% block title %}Entre Dièses et Bémols{% endblock %}
    </title>
    {#<title>Meta Video | The Best Media Uploader</title>#}

    {#Pour les métadescription (référencement !)#}
    {% block meta %}{% endblock %}

    {# Feuilles de Styles #}
    {% block stylesheets %}{% endblock %}

    <!-- Favicon -->
    {#<link rel="icon" href="{{ asset('theme/images/favicon.png') }}" type="image/png" />#}
    <link rel="icon" href="{{ asset('images/logoDieseBemol.png') }}" type="image/png" />
    {#<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />#}
</head>

<body>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>

{#<!DOCTYPE html>#}
{#<html>#}
{#<head>#}
    {#<meta charset="UTF-8" />#}
    {#<title>{% block title %}Welcome!{% endblock %}</title>#}
    {#{% block stylesheets %}{% endblock %}#}
    {#<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />#}
{#</head>#}
{#<body>#}
{#{% block body %}{% endblock %}#}
{#{% block javascripts %}{% endblock %}#}
{#</body>#}
{#</html>#}