{% extends "/layout.html.twig" %}

{% block title %}
    {{ parent() }} | Administration
{% endblock %}

{% block content %}

  {#{% block adminusers %}#}
  {% include "Includes/adminusersmenu.html.twig" %}
  {#{% endblock adminusers %}#}

<div class="container">
    <div class="row mt-5">
      Si vous êtes ici, c'est que vous êtes un Admin !
    </div>
</div>
{% endblock content %}
