{% extends "base.html.twig" %}

{% block title %}Mot de passe perdu{% endblock title %}

{% block body %}

    <h1>Création d'un nouveau mot de passe</h1>

    <p>Pour créer un nouveau mot de passe, veuillez cliquer sur ce lien (vous avez {{ validity }} heure) : </p>

    <p>
        <a href="{{ link }}" title="Activer le compte">
            <span>Modifier mon mot de passe</span>
            <div>
                <img src="http://musique.aurelia-web.fr/images/logoDieseBemol.png"
                     alt="Logo du site Entre Dièses et Bémols">
            </div>
        </a>
    </p>
{% endblock body %}