{% extends "/layout.html.twig" %}

{% block title %}AppBundle:Security:sendLostPasswordMail{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">

            <h1 class="mt-5 mb-5 text-center">Mot de passe perdu Entre Dièses et Bémols</h1>

            <form action="{{ path('lostpassword') }}" method="post" class="container-fluid login_form auth_form">
                <div class="form-inner row">

                    <div class="form-body row m0 mb-5">
                        <input type="email" class="form-control" placeholder="Addresse Email" name="email"/>

                        <input type="submit" value="Envoyer" class="btn btn-default form-control">
                    </div>
                </div>
            </form>

        </div>
    </div>
{% endblock content %}