{% extends "/layout.html.twig" %}

{% block title %}AppBundle:Security:sendLostPasswordMail{% endblock %}

{% block content %}
  <h1>Mot de passe perdu</h1>
  <form action="{{ path('lostpassword') }}" method="post">
    <label for="email">Email :</label>
    <input type="email" id="email" name="email"/>
    <br>
    <button type="submit" class="btn-default">Envoyer</button>
  </form> 
{% endblock content %}