{% extends "/layout.html.twig" %}

{% block title %}
    {{ parent() }} | Mod de passe perdu
{% endblock %}

{% block content %}
    {#-------------------------------------------------------------------------------------------------------------------------------------#}
    {# Header : titre + fil d'ariane #}
    {#-------------------------------------------------------------------------------------------------------------------------------------#}
    <section class="row page_cover">
        <div class="container">
            <div class="row m0">
                <h1>Mot de passe perdu Entre Dièses et Bémols</h1>
                <ol class="breadcrumb">
                    <li><a href="{{ path('home') }}">Accueil</a></li>
                    <li class="active">Mot de passe perdu</li>
                </ol>
            </div>
        </div>
    </section>

    {#Ruban#}
    {% include "Includes/ribbon.html.twig" %}

    <div class="container">
        <div class="row">

            <h2 class="mt-5 mb-5 text-center">Mot de passe perdu Entre Dièses et Bémols</h2>

            <form action="{{ path('lostpassword') }}" method="post" class="container-fluid login_form auth_form h_400">
                <div class="form-inner row">

                    <div class="form-body row m0 mb-5">
                        <input type="email" class="form-control" placeholder="Addresse Email" name="email"/>

                        <input type="submit" value="Envoyer" class="btn btn-default form-control">
                    </div>
                </div>
            </form>

        </div>
    </div>
{% endblock content %}