{% extends "/layout.html.twig" %}

{% block title %}
    {{ parent() }} | FAQ
{% endblock %}

{% block content %}
    {#-------------------------------------------------------------------------------------------------------------------------------------#}
    {# Header : titre + fil d'ariane #}
    {#-------------------------------------------------------------------------------------------------------------------------------------#}
    <section class="row page_cover">
        <div class="container">
            <div class="row m0">
                <h1>Contact</h1>
                <ol class="breadcrumb">
                    <li><a href="{{ path('home') }}">Accueil</a></li>
                    <li class="active">Contact</li>
                </ol>
            </div>
        </div>
    </section>

    {#Ruban#}
    {% include "Includes/ribbon.html.twig" %}

    <div class="container">
        <div class="row">

            <h2 class="mt-5 mb-5 text-center">Contact Entre Dièses et Bémols</h2>

            <form action="{{ path('contact') }}" method="post"
                  class="container-fluid login_form auth_form h_400 comment_form">
                <div class="form-inner row">

                    <div class="form-body row m0 mb-5">
                        <input type="email" class="form-control" placeholder="Votre Email" name="email"/>

                        <textarea class="form-control"
                                  placeholder="Votre message"
                                  name="message"></textarea>
                        <input type="submit" value="Envoyer" class="btn btn-default form-control">
                    </div>
                </div>
            </form>


        </div>
    </div>
{% endblock content %}