{% extends "base.html.twig" %}

{% block title %}
    {{ parent() }} | Contact Email
{% endblock title %}

{% block body %}

    <h1>Message d'un utilisateur Entre Dièses et Bémols</h1>

    <p>{{ userMessage }}</p>

    <a href="https://musique.aurelia-web.fr/" title="Accueil entre Dièses et Bémols">
        <div>
            <img src="http://musique.aurelia-web.fr/images/logoDieseBemol.png"
                 alt="Logo du site Entre Dièses et Bémols">
        </div>
    </a>
    </p>

{% endblock body %}
