{% extends "/layout.html.twig" %}

{% block title %}AppBundle:Dashboard:dashboard{% endblock title %}

{% block content %}


    <div>
        <h1>Mentions légales</h1>

            <p>Dénomination commerciale : Entre Dièses et Bémols</p>
            <p>Nom : Heymann</p>
            <p>Prénom : Aurélia</p>
            <p>Adresse : 15 rue St Nicolas 26100 Romans</p>
            <p>Téléphone : 06.14.94.02.03</p>
            <p>E-mail : aurelia.h@hotmail.fr</p>
            <p>Hébergeur du site Internet : 1&1</p>
            <p>Développement et gestion des serveurs : Aurélia Heymann</p>

    </div>
{% endblock content %}
