{% extends "/layout.html.twig" %}

{% block title %}
    {{ parent() }} | Admin : Mentions légales
{% endblock %}
{% block content %}
    {#-------------------------------------------------------------------------------------------------------------------------------------#}
    {# Header : titre + fil d'ariane #}
    {#-------------------------------------------------------------------------------------------------------------------------------------#}
    <section class="row page_cover">
        <div class="container">
            <div class="row m0">
                <h1>Détails de la musique</h1>
                <ol class="breadcrumb">
                    <li><a href="{{ path('home') }}">Accueil</a></li>
                    <li class="active">Mentions légales</li>
                </ol>
            </div>
        </div>
    </section>


    <div class="container">
        <div class="row">

            <h2>Mentions légales</h2>

            <p>Dénomination commerciale : Entre Dièses et Bémols</p>
            <p>Nom : Heymann</p>
            <p>Prénom : Aurélia</p>
            <p>Adresse : 15 rue St Nicolas 26100 Romans</p>
            <p>Téléphone : 06.14.94.02.03</p>
            <p>E-mail : aurelia.h@hotmail.fr</p>
            <p>Hébergeur du site Internet : 1&1</p>
            <p>Développement et gestion des serveurs : Aurélia Heymann</p>

        </div>
    </div>
{% endblock content %}
