{% extends "/layout.html.twig" %}

{% block title %}AppBundle:Dashboard:dashboard{% endblock title %}

{% block content %}

    <div>
        <h1>Politique de confidentialité de Entre Dièses et Bémols</h1>

        <h2>Qui sommes-nous ?</h2>

        <p>L’adresse de notre site Web est : http://localhost/pfe-jardin</p>
        <p>Nom : Heymann</p>
        <p>Prénom : Aurélia</p>
        <p>Adresse : 15 rue St Nicolas 26100 Romans</p>
        <p>E-mail : aurelia.h@hotmail.fr</p>
        <p>Hébergeur du site Internet : 1&1 – 0970 808 911- formulaire de contact [http://assistance.1and1.fr/contact] – Brauerstr.48 76135 Karlsruhe Allemagne</p>
        <p>Développement et gestion des serveurs : Aurélia Heymann</p>

        <h2>Utilisation des données personnelles collectées</h2>

        <p>Les données personnelles que nous collectons sont :</p>
        <p>- Celles demandées dans notre formulaire de contact :</p>
        <p>Votre adresse mail, le sujet de votre message et votre message;</p>
        <p>- Ainsi que :</p>
        <p>La date de publication de votre message, votre adresse IP et le navigateur internet que vous utilisez.</p>
        <p>Nous les gardons pour avoir une trace de vos demandes d’informations / commentaires ou autre.</p>
        <p>Nous partageons nos données seulement avec notre hébergeur : 1&1 (coordonnées ci-dessus) pour qu’elles soient sauvegardées en lieu sûr.</p>

        <h2>Médias</h2>

        <p>Si vous êtes un utilisateur ou une utilisatrice enregistré·e et que vous téléversez des images sur le site web, nous vous conseillons d’éviter de téléverser des images contenant des données EXIF de coordonnées GPS. Les visiteurs de votre site web peuvent télécharger et extraire des données de localisation depuis ces images.</p>

        <h2>Formulaires de contact</h2>

        <p>Nous conserveront les soumissions du formulaire de contact pendant une période de 26 mois pour les questions liées au service client, mais nous ne les utiliseront pas à des fins commerciales.</p>
        <p>Vous pouvez à tout moment nous demandez de supprimer vos données ou de vous les envoyer (droit à la portabilité) en nous envoyant un message sur la page contact.</p>
        <p></p>

        <h2>Cookies</h2>

        <p>Si vous avez un compte et que vous vous connectez sur ce site, un cookie temporaire sera créé afin de déterminer si votre navigateur accepte les cookies. Il ne contient pas de données personnelles et sera supprimé automatiquement à la fermeture de votre navigateur.</p>
        <p>Lorsque vous vous connecterez, nous mettrons en place un certain nombre de cookies pour enregistrer vos informations de connexion et vos préférences d’écran. La durée de vie d’un cookie de connexion est de deux jours, celle d’un cookie d’option d’écran est d’un an. Si vous cochez « Se souvenir de moi », votre cookie de connexion sera conservé pendant deux semaines. Si vous vous déconnectez de votre compte, le cookie de connexion sera effacé.</p>

        <h2>Statistiques et mesures d’audience</h2>

        <p>Notre hébergeur (1&1) gère les statistiques, voici les données récoltées :</p>
        <p>Nombre de visites   … les visites, sessions, pages visitées et robots des moteurs de recherches.</p>
        <p>Comportement des visiteurs  … la durée des sessions, pages visitées par session, et tuax de rebond.</p>
        <p>Analyse des pages   … les pages d’entrée, de sortie, d’erreurs, les plus visitées et avec un haut tuax de rebond aisni que les mots-clés.</p>
        <p>Pages de provenance   … toutes les pages de provenance et pages de renvoi.</p>
        <p>Position des visiteurs  … la position géographique des visiteurs.</p>
        <p>Navigateur & systèmes   … les navigateurs, versions des navigateurs, systèmes d’exploitation et versions des systèmes d’exploitation des visiteurs.</p>
        <p>Navigateur & systèmes   … les navigateurs, versions des navigateurs, systèmes d’exploitation et versions des systèmes d’exploitation des visiteurs.</p>

        <h2>Utilisation et transmission de vos données personnelles</h2>

        <p> Nous partageons nos données seulement avec notre hébergeur : 1&1 (coordonnées ci-dessus) pour qu’elles soient sauvegardées en lieu sûr.</p>

        <h2>Durées de stockage de vos données</h2>

        <p>Pour les utilisateurs et utilisatrices qui s’enregistrent sur notre site, nous stockons les données personnelles indiquées dans leur profil. Tous les utilisateurs et utilisatrices peuvent voir, modifier ou supprimer leurs informations personnelles à tout moment (à l’exception de leur nom d’utilisateur·ice) en nous écrivant via le formulaire de contact. Les gestionnaires du site peuvent aussi voir et modifier ces informations.</p>

        <h2>Les droits que vous avez sur vos données</h2>

        <p>Si vous avez un compte, vous pouvez demander à recevoir un fichier contenant toutes les données personnelles que nous possédons à votre sujet, incluant celles que vous nous avez fournies. Vous pouvez également demander la suppression des données personnelles vous concernant. Cela ne prend pas en compte les données stockées à des fins administratives, légales ou pour des raisons de sécurité.</p>

        <h2>Les services tiers qui nous transmettent des données</h2>

        <p>Notre site web ne reçoit aucune donnée utilisateurs depuis des sources tierces (comme la publicité).</p>

        <h2>Opérations de marketing automatisé et/ou de profilage réalisées à l’aide des données personnelles</h2>

        <p>Notre site web ne fourni aucun service qui inclus la prise de décision automatisée (comme par exemple, autoriser nos clients à souscrire à un crédit ou agréger leurs données dans un profil publicitaire).</p>

    </div>
{% endblock content %}
