{% extends "/layout.html.twig" %}

{% block title %}
    {{ parent() }} | RGPD
{% endblock %}
{% block content %}

    <div>
        <h1>RGPD</h1>
        <h2>Comment télécharger un son ?</h2>
        <p>Vous devez simplement.....</p>
        <p>Vous devez simplement.....</p>
        <p>Vous devez simplement.....</p>
        <p>Vous devez simplement.....</p>
        <h2>Comment ...</h2>
        <p>Vous devez simplement.....</p>
        <p>Vous devez simplement.....</p>
        <p>Vous devez simplement.....</p>
        <p>Vous devez simplement.....</p>
        <h2>Comment ...</h2>
        <p>Vous devez simplement.....</p>
        <p>Vous devez simplement.....</p>
        <p>Vous devez simplement.....</p>
        <p>Vous devez simplement.....</p>
        <h2>Comment ...</h2>
        <p>Vous devez simplement.....</p>
        <p>Vous devez simplement.....</p>
        <p>Vous devez simplement.....</p>
        <p>Vous devez simplement.....</p>
        <h2>Comment ...</h2>
        <h2>Comment ...</h2>
        <h2>Comment ...</h2>
        <h2>Comment ...</h2>
        <h2>Comment ...</h2>
        <h2>Comment ...</h2>
        <h2>Comment ...</h2>
    </div>
{% endblock content %}
