<div>
    <a {% if app.request.get('_route') == 'adminlistmembers' %}class="active"{% endif %} href="{{ path('adminlistmembers') }}">
        Liste des membres
    </a>

    <a {% if app.request.get('_route') == 'adminlisttracks' %}class="active"{% endif %} href="{{ path('adminlisttracks') }}">
        Liste des tracks sur le site
    </a>

    {#<a {% if app.request.get('_route') == 'administration' %}class="active"{% endif %} href="{{path('administration')}}">#}
    <a href="#">Liste des mots clefs</a>

</div>