<div class="menu2">
    <div class="container">

        <ul class="nav navbar-nav w-100">
            <li>
                <a {% if app.request.get('_route') == 'adminlistmembers' %}class="active"{% endif %}
                   href="{{ path('adminlistmembers') }}">
                    Liste des membres
                </a>
            </li>
            <li>
                <a {% if app.request.get('_route') == 'adminlisttracks' %}class="active"{% endif %}
                   href="{{ path('adminlisttracks') }}">
                    Liste des tracks
                </a>
            </li>
            {#<li>#}
            {#<a {% if app.request.get('_route') == 'adminlistmotsclefs' %}class="active"{% endif %}#}
            {#href="{{ path('adminlistmotsclefs') }}">#}
            {#Liste des mots clefs#}
            {#</a>#}
            {#</li>#}
            <li>
                <a {% if app.request.get('_route') == 'adminlistmessages' %}class="active"{% endif %}
                   href="{{ path('adminlistmessages') }}">
                    Liste des commentaires
                </a>
            </li>
        </ul>
    </div>
</div>