
<div class="float-left ml-5 mt-5">
    <img src="../images/diesepng.png" alt="dièse" width="60px" class="border_img" id="diese">
    <img src="../images/bemolpng.png" alt="bémol" width="60px" class="border_img" id="bémol">
</div>
<p id="titreAppli" class="pt-5 pb-2 disp_inlineblock  ml-5">Entre Dièses et Bémols</p>

<div class="float-right mr-5">
    <img src="../images/bemolpng.png" alt="bémol" width="60px" class="border_img" id="bemol">
    <img src="../images/diesepng.png" alt="dièse" width="60px" class="border_img" id="diese">
</div>


