<div class="menu2">
    <div class="container">
        <ul class="nav navbar-nav w-100">
            <li>
                <a {% if app.request.get('_route') == 'user' %}class="active"{% endif %} href="{{ path('user') }}">
                    Informations personnelles
                </a>
            </li>
            <li>
                <a {% if app.request.get('_route') == 'userpassword' %}class="active"{% endif %}
                   href="{{ path('userpassword') }}">
                    Modifier mon mot de passe
                </a>
            </li>
            <li>
                <a {% if app.request.get('_route') == 'useremail' %}class="active"{% endif %}
                   href="{{ path('useremail') }}">
                    Modifier mon adresse mail
                </a>
            </li>
        </ul>
    </div>
</div>