{% extends "/layout.html.twig" %}

{% block title %}
    {{ parent() }} | Réenvoie de mail de validation
{% endblock title %}

{% block content %}
    {#-------------------------------------------------------------------------------------------------------------------------------------#}
    {# Header : titre + fil d'ariane #}
    {#-------------------------------------------------------------------------------------------------------------------------------------#}
    <section class="row page_cover">
        <div class="container">
            <div class="row m0">
                <h1>Réenvoie de mail pour confirmation</h1>
                <ol class="breadcrumb">
                    <li><a href="{{ path('home') }}">Accueil</a></li>
                    <li class="active">Réenvoie de mail pour confirmation</li>
                </ol>
            </div>
        </div>
    </section>

    {#Ruban#}
    {% include "Includes/ribbon.html.twig" %}

    <div class="container">
        <div class="row">

            <h1>Création de compte Entre Dièses et Bémols</h1>

            <p>Cliquez sur le lien-ci dessous pour recevoir un nouveau mail de confirmation</p>

            <p>
                <a href="{{ path('resendemailvalidation') }}" title="Lien de réenvoie de mail de validation">
                <span>Activer le compte</span>
            <div>
                <img src="http://pfe2019-v2.aurelia-web.fr/images/logoDieseBemol.png"
                     alt="Logo du site Entre Dièses et Bémols">
            </div>
            </a>
            </p>

        </div>
    </div>
{% endblock content %}
