{% extends "/layout.html.twig" %}

{% block title %}AppBundle:Dashboard:dashboard{% endblock title %}

{% block content %}

    <div>
        Bienvenue
        {# L'élément b permet d'attirer l'attention du lecteur#}
        <b>
            {#You only have this if you’ve actually logged in during this session. If you’re logged in because of a remember me cookie, you won’t have this :#}
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}

                {# On affiche le nom et le prénom de l'utilisateur dans la base de données, si ils existent #}
                {% if app.user.lastName is defined %}
                    {{ app.user.lastName }}
                {% endif %}
                {% if app.user.firstName is defined %}
                    {{ app.user.firstName }}
                {% endif %}

            {% endif %}
        </b>
    </div>
{% endblock content %}
