{% extends "/layout.html.twig" %}

{% block title %}Entre Dièses et Bémols - Accueil{% endblock %}

{% block content %}

    <p>{{ id }}</p>
    <p>{{ nametrack }}</p>
    <p>{{ pdfPath }}</p>


{% endblock content %}
